<div class="login-container">
  <mat-card class="login-card">
    <div class="login-title">
      <p>{{ title }}</p>
    </div>
    <div>
      <app-custom-input
        [type]="'text'"
        [label]="'user'"
        [required]="false"
      ></app-custom-input>
      <app-custom-input
        [type]="'password'"
        [label]="'password'"
        [required]="true"
      ></app-custom-input>
    </div>
    <div class="login-button">
      <button mat-raised-button color="primary">ログイン</button>
    </div>
  </mat-card>
</div>
