<div class="login-container">
  <mat-card class="login-card">
    <div class="login-title">
      <p>{{ title }}</p>
    </div>
    <div>
      <app-custom-input
        [name]="'name'"
        [type]="'text'"
        [label]="'name'"
        [required]="true"
        [(value)]="name"
        (valueChange)="name = $event"
      ></app-custom-input>
      <app-custom-input
        [name]="'password'"
        [type]="'password'"
        [label]="'password'"
        [required]="true"
        [(value)]="password"
        (valueChange)="password = $event"
      ></app-custom-input>
    </div>
    <div class="login-massage">{{massage}}</div>
    <div class="login-button">
      <button mat-raised-button color="primary" (click)="onLogin()">
        ログイン
      </button>
    </div>
  </mat-card>
</div>
