.login-card {
    width: 500px;
    height: 250px;
    left: auto;
    top: auto;
}

.login-title {
  margin: 30px;
  font-size: large;
  text-align: center;
}

.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
  margin: 10px;
  text-align: center;
}

.login-massage {
  text-align: center;
  color: red;
  font-weight: bold;
}