/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* mat-card上書き */
.mat-card {
    background: #f5f5f5 !important;
    color: black !important;
}

/* app-rootの高さ100% */
app-root {
    display: block;
    height: 100%;  
}
  
